main{
  max-width: 1320px;
  margin: 40px auto;

  
}
.section-area{
  background-image: url(./images/Banner\ Image.png);
  width: 1320px;
  height: 600px;
}

.section-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.banner-title{
  color: #FFFFFF;
  font-size: 32px;
  text-align: center;
  

}

.banner-description{
  color: #FFFFFF;
  font-size: 72px;
  text-align: center;
  font-weight: bold;

}

/* .div1{
  padding: 100px 344px;
} */

.div2{
  margin: 40px auto;
  width: 800px;
  height: 800px;
}

h2{
  font-size: 88px;
  font-weight: bold;
  text-align: center;
  color: #FF0000;
}

h4{
  font-size: 24px;
  font-weight:600;
  text-align: center;
  color: #FF0000;
}
h3{
  font-size: 48px;
  font-weight: bold;
  color: #070211;
  text-align: center;
}

.section-area-02{
  margin-top: 100px;
}

.main-section{
  background-image: url(/images/Vectorrr.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
  height: 600px;
}


.main-section-title{
  font-size: 64px;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.main-section-description{
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
}

button{
  font-size: 20px;
  font-weight: bold;
  background: none;
  border: none;
  color: #FFFFFF;
}
.main-section{
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.div3{
  padding: 126px 126px;

}
.div4{
  padding: 68px;
}

.section-area-03{
  width: 1320px;
  height: 482px;
  background:hwb(0 66% 11% / 0.326);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.font-size{
  font-size: 32px;
  color: #070211;
}

.button{
  /* display: inline-block; */
  text-align: center;
  
}
.section-button{
  background: #FF0000;
  padding: 20px 30px;
  font-size: 25px;
  border-radius: 10px;
}

/* .div5{
  margin-top: 100px;
  padding: 100px 385px;
  
} */

.section-area-04{
  margin-top: 100px;
  display: flex;
  gap: 100px;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}

.section-heading-title-name{
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  color: #FF0000;
}
.section-heading-sub-title{
  font-size: 48px;
  margin-bottom: 10px;
}

.section-heading-description{
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.525);
}
.section-area-05-title{
  font-size: 48px;
  font-weight: bold;
}

.section-area-05-description{
  font-size: 20px;
}