main{
  max-width: 1320px;
  margin: 40px auto;

  
}
.section-area{
  background-image: url(/images/Banner\ Image.png);
  width: 1320px;
  height: 600px;
}
.banner-title{
  color: #FFFFFF;
  font-size: 32px;
  text-align: center;

}

.banner-description{
  color: #FFFFFF;
  font-size: 72px;
  text-align: center;
  font-weight: bold;

}

.div1{
  padding: 100px 344px;
}

.div2{
  margin: 40px auto;
  width: 800px;
  height: 800px;
}

h2{
  font-size: 88px;
  font-weight: bold;
  text-align: center;
  color: #FF0000;
}

h4{
  font-size: 24px;
  font-weight:600;
  text-align: center;
  color: #FF0000;
}
h3{
  font-size: 48px;
  font-weight: bold;
  color: #070211;
  text-align: center;
}

.section-area-02{
  margin-top: 100px;
}

.main-section{
  background-image: url(/images/Vectorrr.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
  height: 600px;
}


.main-section-title{
  font-size: 64px;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.main-section-description{
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
}

button{
  font-size: 20px;
  font-weight: bold;
  background: none;
  border: none;
  color: #FFFFFF;
}
.main-section{
  display: flex;
  align-items: center;
}
.div3{
  padding: 126px;
}
.div4{
  padding: 68px;
}