

*{
  margin: 0;
  padding: 0;
}

main{
  width: 1320px;
  background: beige;
  margin: 50px auto;
  
}


.header-section{
  background-image: url('/images/banner image.png');
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header-title{
  font-size: 32px;
  color: #FFFFFF;
  text-align: center;
}
.header-sub-title{
  font-size: 72px;
  color: #FFFFFF;
  text-align: center;
}

.section-area-01{
  width: 802px;
  height: 806px;
  margin: 120px auto;
}

.section-area-heading{
  font-size: 80px;
  text-align: center;
  color: #FF0000;
}

.section-area-title{
  font-size: 24px;
  color: #FF0000;
  text-align: center;
  margin-top: 66px;
}

.section-area-sub-title{
  font-size: 48px;
  color: #070211;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.section-area-02-container{
  background-image: url('../images/Vectorrr.png');
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 100px;
  gap: 50px;
  margin-top: 20px;
}

.section-area-02-heading{
  font-size: 64px;
  color: #FFFFFF;
}

.section-area-02-description{
  font-size: 18px;
  color: #FFFFFF;
  margin-top: 10px;
}

.section-area-02-button{
  font-size: 20px;
  font-weight: bold;
  background: none;
  color: #FFFFFF;
  margin: 20px 10px;
  border: none;
}